.iconfont{
    font-family: 'iconfont';
    font-style: normal;
}
*{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
}
body{
    background: #f5f5f5;
}
div{
    display:block;
}
.site_topbar{
    width: 100%;
    height: 40px;
    background: #333;
    font-size: 12px;
    color: #b0b0b0;
}
.container{
    width: 1226px;
    height: 100%;
    /*background: red;*/
    margin: 0 auto;
}
.container_left{
    float: left;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.container .sep{
    margin: 0 .5em;
    color: #424242;
}
.container_left a{
    color: #b0b0b0;
}
.container_left a:hover{
    color:#fff;
}
.container .container_right{
    width: 120px;
    margin-left: 15px;
    float: right;
    height: 100%;
    background: red;
    font-size: 12px;
    color: #b0b0b0;
}
.container_right a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}
.container_right i{
    margin-right: 4px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    vertical-align: -4px;
}
.container_right a:hover{
    background: #fff;
    color:#ff6700;
}
.login{
    float:right;
    height: 40px;
}
.login a{
    font-size: 12px;
    color: #b0b0b0;
    line-height: 40px;
}
.login a:hover{
    color:#fff;
}
/*头部结束*/
/*导航开始*/
.site_header{
    width: 100%;
    height: 100px;
    background: #ffffff;
}
.nav{
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}
.nav .header_logo{
    width: 62px;
    margin-top:22px;
    float: left;
}
.nav .logo{
    display: block;
    width: 55px;
    height: 55px;
}
.nav .text{
    float: left;
    margin-left: 180px;
}
.nav .text li{
    float: left;
    height:100px;
    line-height: 100px;
}
.nav .text li:hover a{
    color:#ff6700;
}
.nav .text li a{
    height: 36px;
    padding: 0 10px;
    color: #333;
}
.nav .search{
    width: 296px;
    height: 50px;
    /*background: #ff6700;*/
    float: right;
    margin: 25px 0;
    position: relative;
}
.nav .search .search_text{
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    transition: all .2s;
}
.nav .search .sousuo{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    cursor: pointer;
    border-radius: 0;
}

.nav .search .sousuo:hover{
    transition: all .2s;
    color: #fff;
    background: #ff6700;
}

.nav .search .search_hot_word{
    position: absolute;
    top: 14px;
    right: 62px;
    z-index: 2;
    text-align: right;
}
.nav .search .mi_eight{
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
}
.nav .search .mi_2s{
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    text-align: right;
}


/*导航结束*/

/*banner开始*/
.big_box{
    background: #fff;
}
.banner{
    width: 1226px;
    height: 460px;
    background: #000;
    margin:0 auto;
    position:relative;
}
.banner .banner_picture{
    width:100%;
    height: 100%;
    position:relative;
}
.banner .banner_picture li a{
    display: block;
}
.banner .banner_picture li{
    position: absolute;
    top:0;
    left:0;
}
.banner .aside_nav{
    position: absolute;
    top: 0;
    left:0;
    width: 234px;
    height: 420px;
    padding:20px 0;
    background: rgba(0,0,0,0.6);
    font-size: 14px;
}
.banner .aside_nav li a{
    display: block;
    padding:0  20px 0 30px;
    height: 42px;
    color:#fff;
    line-height: 42px;
}
.banner .aside_nav li a i{
    display: block;
    float: right;
    font-size: 14px;
    color: #babbb6;
}
.banner .aside_nav li:hover a{
    background: #ff6700;
    font-size: 16px;
}
.banner .lunbodian{
    width: 100px;
    height: 10px;
    /*background: red;*/
    position: absolute;
    bottom:25px;
    right: 35px;
}
.banner .lunbodian a{
    display: block;
    width: 6px;
    height: 6px;
    background: #92897c;
    border-radius: 50%;
    border:2px solid #b3ada4;
    margin: 0 5px;
    float: left;
}
.banner .lunbodian a:hover{
    background: #f8efe2;
    border-color:#92897c;
}
.banner .lunbodian li .quan{
    background: #f8efe2;
    border-color:#92897c;
}
.banner .btnleft{
    width:41px;
    height: 69px;
    position:absolute;
    left:234px;
    top:0;
    bottom:0;
    margin-top:auto;
    margin-bottom:auto;
    background:url(../img/button.png) no-repeat -84px;
}
.banner .btnleft:hover{
    background:url(../img/button.png) no-repeat 0;
}
.banner .btnright{
    width:41px;
    height: 69px;
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    margin-top:auto;
    margin-bottom:auto;
    background:url(../img/button.png) no-repeat -126px;
}
.banner .btnright:hover{
    background:url(../img/button.png) no-repeat -43px;
}
/*banner结束*/
/*展示开始*/
.exhibition{
    height: 170px;
    background: #fff;
    padding-top:14px;
}
.exhibition .exhibition_all{
    width: 1226px;
    height: 170px;
    margin:0 auto;
}
.exhibition .exhibition_all .all_left{
    width:228px;
    height:164px;
    float: left;
    padding:3px;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
}
.exhibition .exhibition_all .all_left li{
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}
.exhibition .exhibition_all .all_left li a{
    display: block;
    padding-top: 18px;
    color: rgba(255,255,255,0.7);
}
.exhibition .exhibition_all .all_left li a:hover{
    color: rgba(255,255,255,1);
}
.exhibition .exhibition_all .all_left li a i{
    display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
}
.exhibition .exhibition_all .all_left li .box{
    position:absolute;
    width:1px;
    height: 70px;
    background: #665e57;
    top:6px;
    left:0;
}
.exhibition .exhibition_all .all_left li .box1{
    position:absolute;
    width:64px;
    height: 1px;
    background: #665e57;
    top:-1px;
    left:6px;
}
.exhibition .exhibition_all .all_right{
    width:992px;
    height:100%;
    float: left;
}
.exhibition .exhibition_all .all_right li{
    width:316px;
    height: 100%;
    float: left;
    margin-left:14px;
    transition:all 0.5s;
}
.exhibition .exhibition_all .all_right li a{
    display:block;
}
.exhibition .exhibition_all .all_right li:hover{
    box-shadow:0 10px 20px 5px rgba(0,0,0,0.1);
}
/*展示结束*/
/*闪购开始*/
.big_box_flashover{
    background: #fff;
}
.flashover{
    width: 1226px;
    height: 438px;
    /*background: yellowgreen;*/
    margin:0 auto;
}
.flas_head{
    width: 100%;
    height: 58px;
}
.flas_head h2{
    float:left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.flas_head .button{
    display: inline-block;
    float:right;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    color:#b0b4c1;
    font-weight: bold;
    line-height: 16px;
    margin-top: 20px;
    text-align:center;
}
.flas_head .button:last-child{
    border-right: 0;
    color:#e5e2e0;
}
.flashover .list{
    width: 1226px;
    height: 340px;
    /*background: yellowgreen;*/
}
.flashover .list .list_left{
    width: 234px;
    height: 300px;
    background: #f1eded;
    float:left;
    padding-top: 39px;
    border-top: 1px solid #e53935;
}
.flashover .list .list_left .time_title{
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
    text-align: center;
}
.flashover .list .list_left .picture{
    width: 34px;
    height: 54px;
    margin: 25px auto;
}
.flashover .list .list_left .start{
    color: rgba(0,0,0,0.54);
    font-size: 15px;
    text-align: center;
}
.flashover .list .list_left .time{
    width: 168px;
    margin: 28px auto 0;
}
.flashover .list .list_left .box{
    width: 46px;
    height: 46px;
    color:#fff;
    background: #605751;
    line-height: 46px;
    float: left;
    text-align: center;
}
.flashover .list .list_left .dash{
    width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    font-size: 28px;
    color:#605751;
    text-align: center;
}

.flashover .list .list_right{
    width: 992px;
    height: 340px;
    /*background: yellow;*/
    float: right;
}
.flashover .list_r_all{
    width: 234px;
    height: 300px;
    background: #fafafa;
    margin-left: 14px;
    float:left;
    padding-top: 39px;
    border-top: 1px solid #e53935;
}
.flashover .list_r_all:first-child{
    border-color: #ffac13;
}
.flashover .list_r_all:nth-child(2){
    border-color: #83c44e;
}
.flashover .list_r_all:nth-child(3){
    border-color: #2196f3;
}
.flashover .list_r_all:last-child{
    border-color: #e53935;
}
.flashover .list_r_all .tu_picture{
    display: block;
    width: 160px;
    margin: 0 auto 22px;
}
.flashover .list_r_all .text1{
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.flashover .list_r_all .text1 .wenzi{
    color: #212121;
}
.flashover .list_r_all .desc{
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
    cursor:pointer;
}
.flashover .list_r_all .price{
    color: #ff6709;
    text-align: center;
    font-size: 12px;
    cursor:pointer;
}
.flashover .list_r_all del{
    color: #b0b0b0;
    cursor:pointer;
}
/*闪购结束*/

.tupian_img{
    margin: 2px auto 15px;
    width: 1226px;
    height: 120px;
    overflow: hidden;
}

/*家电开始*/
.homeelec{
    width: 1226px;
    height: 672px;
    margin: 0 auto;
    background: #f5f5f5;
    margin-bottom: 30px;
}
.homeelec .box-hd{
    width: 100%;
    height: 58px;
    /*background: yellow;*/
}
.homeelec .box-hd .title{
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
}
.homeelec .box-hd .box-more{
    float: right;
}
.homeelec .box-hd .more_list{
    padding: 16px 0 0;
    font-size: 16px;
}
.homeelec .box-hd .more_list li{
    float: left;
    margin: 0 0 0 30px;
    font-size: 16px;
    transition: border-color .5s;
    cursor: pointer;
}
/*.homeelec .box-hd .more_list:hover .tab_active{*/
    /*color:#333;*/
    /*border:0;*/
/*}*/
/*.homeelec .box-hd .more_list li:first-child{*/
    /*padding-bottom: 3px;*/
    /*color: #ff6700;*/
    /*border-bottom: 2px solid #ff6700;*/
/*}*/
.homeelec .box-hd .more_list li:hover{
    color:#ff6700;
    padding-bottom: 3px;
    border-bottom: 2px solid #ff6700;
}
.homeelec .homeelec_bottom{
    width:1226px;
    height: 614px;
}
.homeelec .elec_bottom_left{
    width: 234px;
    height: 100%;
    float: left;
    /*background: blue;*/
}
.homeelec .elec_bottom_left .elec_picture{
    display: block;
    width: 100%;
    height: 300px;
    margin-bottom: 14px;
    transition: all 0.3s;
}
.homeelec .elec_bottom_left .elec_picture:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 7px 7px rgba(0,0,0,0.2);
}
.homeelec .elec_bottom_right{
    width: 992px;
    height: 614px;
    float: left;
}
.homeelec .elec_bottom_right li{
    position:relative;
    overflow:hidden;
    transition: all 0.5s;
    width: 234px;
    height: 246px;
    padding: 34px 0 20px;
    background:#fff;
    margin:0 0 14px 14px;
    float: left

}
.homeelec .elec_bottom_right li:hover .menu{
    transition: all 0.5s;
    transform: translateY(-75px);
}
.homeelec .elec_bottom_right li:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 7px 7px rgba(0,0,0,0.2);
}
.homeelec .elec_bottom_right li:nth-child(8){
    padding:0;
}
.homeelec .elec_bottom_right li:last-child{
    padding:0;
}
.homeelec .elec_bottom_right li .figuer_img{
    width: 150px;
    height: 150px;
    margin: 0 auto 18px;
}
.homeelec .elec_bottom_right li .figuer_img a{
    display: block;
}
.homeelec .elec_bottom_right li .img_title{
    margin: 0 10px;
}
.homeelec .elec_bottom_right li .img_title a{
    display: block;
    font-size: 14px;
    font-weight: 400;
    color:#333;
    text-align: center;
    overflow: hidden;
}
.homeelec .elec_bottom_right .menu{
    width: 174px;
    height: 55px;
    padding: 10px 30px;
    background: #ff6700;
    position: absolute;
    bottom:-75px;
    left:0;
    transition: all 0.5s;
}
.homeelec .elec_bottom_right .menu .pingjia{
    font-size: 12px;
    color:#fff;
    line-height:18px;
}
.homeelec .elec_bottom_right .menu .zuozhe{
    font-size: 12px;
    color:#ffc678;
    margin-top: 5px;
}
.homeelec .elec_bottom_right li .desc{
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    color: #b0b0b0;
}
.homeelec .elec_bottom_right li .price{
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
}
.homeelec .elec_bottom_right li .price del{
    color: #b0b0b0;
}
.homeelec .elec_bottom_right .elec_list .brick{
    width: 234px;
    height:143px;
    background: #fff;
}
.homeelec .brick .brick_left{
    width:138px;
    height: 103px;
    padding-top: 40px;
    /*background: yellow;*/
    float: left;
}
.homeelec .brick .brick_left h3{
    font-size: 12px;
    font-weight: 400;
    color:#333;
    height:22px;
    line-height: 22px;
    padding-left: 30px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.homeelec .brick .brick_left h3 a{
    color:#333;
}
.homeelec .brick .brick_left p{
    margin-top: 5px;
    height: 22px;
    font-size: 12px;
    color:#ff6700;
    line-height: 22px;
    padding-left: 32px;
}
.homeelec .brick .brick_right{
    display: block;
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 30px;
}
.homeelec .brick .brick_right i{
    font-size: 45px;
    line-height: 80px;
    color:#ff6700;
    font-weight: bold;
}
.homeelec .brick .brick_left h3 .more_more{
    font-size: 20px;
    font-weight: 300;
}
.homeelec .brick .brick_left .jiaju{
    color:#757575;
}
/*家电结束*/

/*为你推荐开始*/

/*为你推荐结束*/

/*热评产品开始*/
.hot{
    width: 1226px;
    height: 473px;
    margin: 0 auto;
    margin-bottom: 22px;
}
.hot .hot_top{
    height: 58px;
}
.hot .hot_top .title{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.hot .hot_list{
    height: 415px;
}
.hot .hot_list .every{
    width: 296px;
    height: 415px;
    background: #fff;
    float: left;
    margin-left: 14px;
}
.hot .hot_list .every:hover{
    transition: all 0.5s;
    transform: translateY(-3px);
    box-shadow: 0 4px 7px 7px rgba(0,0,0,0.2);
}
.hot .hot_list .every:first-child{
    margin-left: 0;
}
.hot .hot_list .picture{
    width: 296px;
    height: 220px;
    margin:0 0 28px;
}
.hot .hot_list .picture a{
    display: block;
}
.hot .hot_list .review{
    height: 72px;
    margin: 0 28px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
    overflow: hidden;
}
.hot .hot_list .review a{
    display: block;
    color:#333;
}
.hot .hot_list .author{
    height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}
.hot .hot_list .info{
    margin: 0 30px;
}
.hot .hot_list .info .title{
    font-size: 14px;
    font-weight: 400;
    max-width: 170px;
    overflow: hidden;
    float: left;
}
.hot .hot_list .info .title .mi_home{
    font-size: 14px;
    font-weight: 400;
    color:#333333;
}
.hot .hot_list .info .sep{
    color: #e0e0e0;
    margin: 0 3px 0 7px;
}
.hot .hot_list .info .price{
    display: inline;
    margin: 0;
    color: #ff6700;
}
/*热评产品结束*/

/*内容开始*/
.content{
    position: relative;
    width: 1226px;
    height: 478px;
    margin: 0 auto;
    margin-bottom: 22px;
}
.content .content_head{
    height: 58px;
    /*background: red;*/
}
.content .content_head .title{
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.content .list_all{
    height: 420px;
}
.content .list_every{
    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    border-top: 1px solid #ffac13;
    margin-left: 14px;
    background: #fff;
    transition: all 0.2s;
}
.content .list_every:hover{
    transition: all 0.5s;
    transform: translateY(-5px);
    box-shadow: 0 4px 7px 7px rgba(0,0,0,0.2);
}
.content .list_all li:first-child{
    margin-left: 0;
}
.content .list_all .list_every:nth-child(2){
    border-top: 1px solid #83c44e;
}
.content .list_all .list_every:nth-child(2) .title{
    color:#b8ca4e;
}
.content .list_all .list_every:nth-child(3){
    border-top: 1px solid #e53935;
}
.content .list_all .list_every:nth-child(3) .title{
    color:#e53935;
}
.content .list_all .list_every:nth-child(4){
    border-top: 1px solid #2196f3;
}
.content .list_all .list_every:nth-child(4) .title{
    color:#2196f3;
}
.content .list_all .list_every .title{
    margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffac13;
}
.content .list_all .list_every .name{
    margin: 0 20px 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    overflow: hidden;
    text-align: center;
}
.content .list_all .list_every .name a{
    display: block;
    color:#333;
}
.content .list_all .list_every .desc{
    margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}
.content .list_all .list_every .desc a{
    color: #b0b0b0;
}
.content .list_all .list_every .price{
    height: 21px;
    margin: 0 10px 15px;
    text-align: center;
}
.content .list_all .list_every .price a{
    font-size: 12px;
    color:#333;
}
.content .list_all .list_every .picture{
    width: 216px;
    height: 154px;
    margin: 0 auto;
}
.content .list_all .list_every .picture a{
    display: block;
    height: 154px;
    color: #757575;
}
.content .point{
    height: 30px;
    margin: 20px 0;
    padding-left: 103px;
}
.content .point .each_point{
    width: 30px;
    height: 20px;
    padding-top: 10px;
    float: left;
    cursor: pointer;
}
.content .point .each_point .box{
    display: block;
    width: 6px;
    height: 6px;
    background: #b0b0b0;
    border: 2px solid #fff;
    border-radius: 6px;
    margin: 0 auto;
    overflow: hidden;
}
.content .point .each_point:first-child .box{
    background: #fff;
    border-color: #ff6700;
}
.content .point .each_point:hover .box{
    background: #fff;
    border-color: #ff6700;
}
.content .button_left{

}

/*内容结束*/
/*视频开始*/
.tv{
    width:1226px;
    height: 343px;
    margin:0 auto 60px;
}
.tv .tv_head{
    position: relative;
    height：58px;
}
.tv .tv_head .title{
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.tv .tv_head .more_all{
    position: absolute;
    right:0;
    bottom:0
}
.tv .tv_head .more_all .more_text{
    font-size: 16px;
    line-height: 58px;
    color: #424242;
}
.tv .tv_head .more_all .more_text .iconfont{
    font-size: 16px;
    line-height: 16px;
    margin-left: 5px;
    color:#B0B0B0;
}
.tv .tv_head .more_all .more_text:hover{
    color:#ff6700;
}
.tv .tv_head .more_all .more_text:hover i{
    color:#ff6700;
}
.tv .tv_body .all_list{
    width: 1226px;
    height: 285px;
    margin: 0;
    padding: 0;
}
.tv .tv_body .all_list .list_every{
    float: left;
    width: 296px;
    height: 285px;
    margin-left: 14px;
    text-align: center;
    background: #fff;
    transition: all .2s linear;
}
.tv .tv_body .all_list .list_every:first-child{
    margin-left:0;
}
.tv .tv_body .list_every .picture{
    position: relative;
    width: 296px;
    height: 180px;
    margin: 0 0 28px;
}
.tv .tv_body .list_every .picture a{
    display: block;
    height: 180px;
}
.tv .tv_body .list_every .picture a .play {
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.6);
}
.tv .tv_body .list_every .picture a .play i{
    font-size: 20px;
    line-height: 20px;
    color:#fff;
}
.tv .tv_body .list_every .picture:hover .play{
    background: #ff6700;
    border-color:#ff6700;
}
.tv .tv_body .list_every .title{
    margin: 0 0 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.tv .tv_body .list_every .title a{
    color: #333;
}
.tv .tv_body .list_every .title a:hover{
    color:#ff6700;
}
.tv .tv_body .list_every .desc{
    height: 18px;
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
}
/*视频结束*/
/*底部开始*/
.site_footer{
    height: 272px;
    background: #fff;
}
.site_footer .container{
    width: 1226px;
    height: 272px;
    margin: 0 auto;
}
.site_footer .container .footer_top{
    height: 25px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.site_footer .container .f_top_list li{
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.site_footer .container .f_top_list li:first-child{
    border-left:0;
}
.site_footer .container .f_top_list li a{
    color: #616161;
    transition: color .2s;
}
.site_footer .container .f_top_list li a:hover{
    color:#ff6700;
}
.site_footer .container .footer_bottom{
    width: 1226px;
    height: 112px;
    padding: 40px 0;
}
.site_footer .container .footer_bottom .help{
    float: left;
    width: 160px;
    height: 112px;
    margin: 0;
}
.site_footer .container .footer_bottom .help dt{
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.site_footer .container .footer_bottom .help dd{
    display: block;
    margin: 10px 0 0;
    font-size: 12px;
}
.site_footer .container .footer_bottom .help dd a{
    color: #757575;
}
.site_footer .container .footer_bottom .help dd a:hover{
    color:#ff6700;
}
.site_footer .container .footer_bottom .contant{
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.site_footer .container .footer_bottom .phone{
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.site_footer .container .footer_bottom .active{
    margin: 0 0 16px;
    font-size: 12px;
}
.site_footer .container .footer_bottom .service{
    display: inline-block;
    border: 1px solid  #ff6700;
    background: #fff;
    color: #ff6700;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}
.site_footer .container .footer_bottom .service i{
    font-size: 14px;
}
.site_footer .container .footer_bottom .service:hover{
    color: #fff;
    background: #ff6700;
}
/*底部结束*/

/*最下边开始*/
.last_box{
    height: 106px;
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}
.last_box .container{
    width: 1226px;
    height: 57px;
    margin: 0 auto;
}
.last_box .container .logo{
    float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
}
.last_box .container .l_b_text{
    float: left;
    color: #b0b0b0;
    font-size: 12px;
}
.last_box .container .l_b_text .text_list{
    line-height: 18px;
}
.last_box .container .l_b_text .text_list a{
    color: #757575;
    font-size: 12px;
}
.last_box .container .l_b_text .text_list .sep{
    margin: 0 .01em;
    font-family: sans-serif;
    color: #b0b0b0;
    font-size: 12px;
}
.last_box .container .l_b_text .text_list2{
    margin: 0;
    line-height: 18px;
    font-size: 12px;
}
.last_box .container .l_b_text .text_list2 a{
    color: #b0b0b0;
}
.last_box .container .l_b_text a:hover{
    color:#ff6700;
}
.last_box .container .picture{
    float: right;
    height: 28px;
    margin: 4px 0 0;
}
.last_box .container .picture a{
    display: block;
    float: left;
    margin-left: 2px;
    width: 83px;
    height: 28px;
}
.last_box .hot{
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    font-size: 16px;
    color:#bababa;
}
/*最下边结束*/
/*fixed开始*/
.fixed{
    width:27px;
    height: 176px;
    position:fixed;
    right:35px;
    bottom: 70px;
}
.fixed .fix_top{
    width:27px;
    height: 121px;
}
.fixed .fix_top .top_content{
    width:100%;
    height: 100%;
    background: #fff;
    border-top: 1px solid #f5f5f5;
}
.fixed .fix_top .top_content .con_each{
    position: relative;
    width: 25px;
    height: 39px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-top: none;
}
.fixed .fix_top .top_content .con_each .con_each_left{
    width:72px;
    height: 27px;
    background: #fff;
    border:1px solid #f5f5f5;
    position: absolute;
    left:-80px;
    top:5px;
    font-size:14px;
    line-height: 29px;
    display:none;
}
.fixed .fix_top .top_content .con_each a:hover{
    color:#ff6700;
}
.fixed .fix_top .top_content .con_each a:hover .con_each_left{
    display: block;
    color: #757575;
}
.fixed .fix_top .top_content .con_each a{
    display: block;
    height: 100%;
    color: #757575;
    text-align: center;
}
.fixed .fix_top .top_content .con_each a i{
    font-size:16px;
    line-height: 39px;
    font-weight:bold;
}
.fixed .fix_bottom{
    position: relative;
    width:25px;
    height: 39px;
    margin-top: 14px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    text-align: center;
}
.fixed .fix_bottom a{
    display: block;
    width:100%;
    height: 100%;
    font-siez:16px;
    color: #757575;
    line-height: 39px;
    font-weight:bold;
}
.fixed .fix_bottom a:hover{
    color:#ff6700;
}
.fixed .fix_bottom a .con_each_right{
    width:72px;
    height: 27px;
    background: #fff;
    border:1px solid #f5f5f5;
    position: absolute;
    left:-80px;
    top:5px;
    font-size:14px;
    line-height: 29px;
    display:none;
}
.fixed .fix_bottom a:hover .con_each_right{
    display: block;
    color: #757575;
    font-weight: 200;
}
/*fixed结束*/